body {
  background-color: #f1edea;
}
.hrProduct {
  margin-bottom: 0;
  height: 4px;
  background-color: #efe8e2;
  margin-top: 0;
}
.productDetails {
  padding: 10px;
}
.productDetails h5 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 45px;
  color: #2d343a;
}
.productDetailIcons {
  display: inline-flex;
  margin-top: 20px;
}
.productDetailIcons li .fab {
  margin-right: 20px;
  color: #b2b2b2;
}
#readMore {
  font-family: "Lato", sans-serif;
  color: #85bc23;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}
#readMore:hover {
  text-decoration: underline !important;
}

.productDetailIcons p {
  color: #999999;
  margin-right: 30px;
}

.productDetailedParagraph {
  font-family: "Lato", sans-serif;
  margin-top: 40px;
  font-size: 11pt;
}
.productDetails .addChart {
  border-radius: 40px;
  background-color: #85bc23;
  width: 160px;
  color: white;
  border: 3px solid #f1edea;
  height: 35px;
  margin-left: 10px;
  outline: none;
  height: 50px;
}
#colorButton {
  height: 20px;
  width: 20px;
  background-color: #808e9b;
  border-radius: 10px;
  outline: none;
  float: left;
  border: none;
  margin-left: 3px;
}
.showdrop .dropdown-menu {
  text-align: center;
  cursor: pointer;
}
.showdrop .dropdown-item:hover {
  background-color: #f1edea;
  color: #85bc23;
  font-weight: 700;
  font-size: 13pt;
}
.productDropDown {
  border: 3px solid #f1edea;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  font-weight: 600;
  padding: 5px;
  height: 40px;
  width: 150px;
  outline: none;
}
.imagesList li {
  margin-bottom: 15px;
  text-align: center;
  width: 90px;
}
.imagesList img {
  border: 2px solid black;
}

.productDetails #presentedImage {
  width: 500px;
}
.ProductDetailPageMain {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
.tabs,
.tab-pane {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-group {
  width: 160px;
  border: 3px solid #f1edea;
  border-radius: 40px;
  height: 50px;
}
.input-group button {
  border: none;
  outline: none;
}
.input-group input {
  border: none;
  height: 45px;
}
.button-minus,
.button-plus {
  display: inline;
  width: 40px;
  border-radius: 25px;
  background-color: transparent;
}
#quantityBox {
  width: 60px;
  text-align: center;
  outline: none;
  border: none;
  height: 40px;
}
#quantityBox .input {
  display: none;
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  .ProductDetailPageMain .productDetails {
    text-align: center;
  }
  .imagesList {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .imagesList li {
    margin: 10px;
  }
  .priceProduct {
    justify-content: center;
  }

  .input-group {
    margin: auto;
    margin-bottom: 15px;
  }
  .popularItemListTab .itemhr {
    font-size: 25px !important;
    text-align: center;
  }
  #zoomPhoto {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  .popitemProduct {
    display: none;
  }
  .imagesList {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .input-group {
    margin-bottom: 20px;
  }
  #presentedImage {
    display: none;
  }
  .presentedImage {
    text-align: center;
  }
  .addChart {
    margin-left: 0 !important;
  }
  .imagesList li {
    margin: 5px;
  }
  .imagesList li img {
    width: 50px;
    height: 50px;
  }
  .priceProduct h5 {
    font-size: 20pt;
  }
  .hr-text {
    font-size: 15pt !important;
  }
  .smallscreenImageButtonsDiv {
    margin-top: 30px;
  }
  #archi {
    display: none;
  }
  .smallpophrtext {
    color: #45413e;
    font-family: "Lato", sans-serif;
    font-size: 15pt !important;
    text-align: center;
    font-weight: 800;
  }
  #zoomPhoto {
    display: none;
  }
  #printIcon {
    display: none;
  }
}
.notvisible {
  display: none;
}

/*product */
/* tab */

.DescriptionProductTabs .nav-tabs {
  margin-left: 200px;
}
.DescriptionProductTabs .tab-pane p {
  color: #eeeef0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 13pt;
  width: 100%;
  padding-top: 20px;
}
.DescriptionProductTabs .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 900;
  padding: 20px;
  color: #bfc6c9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 80px;
  margin-right: 60px;
}
.DescriptionProductTabs .nav-tabs .active {
  color: white !important;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  background-color: #262a33 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 80px;
  border-bottom: 4px solid #262a33 !important;
  padding: 20px;
  margin-right: 60px;
}
.DescriptionProductTabs .tab-content {
  background-color: #262a33;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.DescriptionProductTabs .tab-pane {
  height: 300px;
  padding-top: 20px;
  background-color: #262a33;
}
/* tab */

/* <!--Benefits Content--->  */
.benefit {
  background-color: #45413e;
  text-align: center;
}
.benefits {
  text-align: left;
}
.benefit h5 {
  color: white;
}
.benefit p {
  color: #999999;
}
.benefits {
  margin-top: 60px;
}

/*  <!--Benefits Content--->  */

/* pop item list */
.popitemlist {
  background-color: white;
  width: 280px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin: auto;
  margin-top: 10px;
}
.popitemProduct {
  padding-top: 40px;
  padding-bottom: 50px;
  margin: auto !important;
}
.popitemlist img {
  width: 280px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.popitemlist p {
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  color: #1c2735;
  font-weight: 500;
  font-size: 13pt;
}
.popitemProduct {
  background-color: #f1edea;
}
.popitemlist .price {
  color: lightgray;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  bottom: 5px;
  position: absolute;
  margin-left: 110px;
}
.popitemtext {
  font-size: 22pt;
}
/* pop item list */

/* small screen popular item slide */
.smallpophrtext {
  color: #45413e;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  text-align: center;
  font-weight: 800;
}
.sliderPop {
  padding-top: 25px;
  background-color: #262a33;
}
.ProductScreen {
  height: 660px !important;
  background-color: #f1edea;
}
.ProductScreen hr {
  color: #1c2735 !important;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 4px;
  padding: 3px;
  color: gray;
  border: 2px solid #999999;
}
.ProductScreen .scrolltop {
  width: 150px;
  border-radius: 20px;
  height: 40px;
  color: white;
  border: 1px solid #85bc23;
  background-color: #85bc23;
  margin-top: 15px;
  outline: none;
}
.scrollingButtonDiv {
  text-align: center;
}
.imageboxPopular {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.imageboxPopular p {
  margin-top: 20px;
  padding: 5px;
}
.imageboxPopular .money {
  font-weight: 600;
  color: lightgray;
  padding-bottom: 25px;
}
.imageboxPopular img {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sliderPop {
  height: 600px;
}
.sliderPop hr {
  color: white;
  font-size: 17pt;
}
/* small screen popular item slide */

@media only screen and (max-width: 1200px) {
  .DescriptionProductTabs {
    display: none;
  }
  .archiHrTab {
    font-size: 30px !important;
  }
}
/* hr */
.ArchideskHr {
  height: 2px;
}
.archiHrTab {
  font-size: 50px;
  font-weight: 700;
  color: #45413e;
  text-align: center;
}
.ProductTabhr {
  margin-bottom: 30px;
}
.ProductTabhr .hrColumns {
  margin: auto;
}
.popularItemListTab .hrColumns {
  margin: auto;
}
.popularItemsListHr {
  height: 2px;
}
.popularItemListTab .itemhr {
  color: #45413e;
  font-size: 27px;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.popularItemListTab {
  margin-bottom: 40px;
}
/* hr */

@media only screen and (min-width: 1200px) {
  .priceProduct h5 {
    font-size: 45pt;
  }
}
.priceProduct h5 {
  margin-top: 10px;
  color: #45413e;
}
/*printing product page */
@media print {
  body * {
    visibility: hidden;
  }
  #printProduct * {
    visibility: visible;
    width: max-content;
  }
  .ProductDetailPageMain {
    top: 0;
    left: 0;
    position: absolute;
  }
  .imagesList {
    display: inline-flex;
    margin-top: 30px;
  }
  .imagesList li {
    margin-right: 40px;
  }
  #printIcon {
    display: none;
  }
  #printProduct .btn-product {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 10px;
    outline: none;
  }
  #printProduct .button-minus {
    display: inline;
    width: 40px;
    border-radius: 25px;
    background-color: transparent;
  }
  #printProduct .button-plus {
    display: inline;
    width: 40px;
    border-radius: 25px;
    background-color: transparent;
  }
  #printProduct .addChart {
    border-radius: 40px;
    width: 160px;
    color: black;
    border: 3px solid black;
    height: 35px;
    margin-left: 10px;
    outline: none;
    height: 50px;
  }
  .input-group {
    width: 160px;
    border: 3px solid black;
    border-radius: 40px;
    height: 50px;
  }
  .productDropDown {
    border: 3px solid black;
  }
  #printProduct #zoomPhoto .fal {
    visibility: hidden;
  }
}
/* zoom photo */
#printIcon {
  color: #85bc23;
  float: right;
  margin-top: 18px;
  cursor: pointer;
}
#zoomPhoto {
  color: #85bc23;
  top: 0;
  left: -5;
  margin-left: 7px;
  font-size: 25px;
  margin-top: 2px;
  cursor: pointer;
  position: absolute;
}
#zoomPhoto .fal {
  font-weight: 600;
}
.ZoomonImage img {
  margin: auto;
}
#thisisFullImage {
  height: 100vh;
  width: 700px;
}
/* zoom photo */
