* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.area {
  background-color: white;
}
#navContent {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
}
#contactUS {
  min-width: 133px;
}
.dropPhoto {
  background-color: #262a33 !important;
  float: left;
  text-align: left;
  left: 0;
}
.dropPhoto img {
  height: 320px;
  border-radius: 10px;
  filter: contrast(120%);
}
.searchIcon {
  transform: scale(-1, 1);
}
/*maintop */
.maintop {
  margin: auto !important;
}
/*maintop */

/*footer*/
#footerContainer {
  background-color: white;
}
#footerDiv {
  background-color: white;
  padding: 40px 5px 10px 20px;
  width: 100%;
}
#footerDiv li {
  list-style: none;
  padding: 0.25em;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
}
#footerDiv li a {
  text-decoration: none;
  color: #9c9c9b;
  font-weight: 500;
}
.contact {
  color: #262a33;
  font-weight: 600;
}
.footerLine a {
  color: #262a33;
}
.footerH {
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  font-weight: 800;
  color: #2d343a;
}
.footerLine p {
  font-size: 11pt;
  color: #2d343a;
}
.footericons {
  display: inline-flex;
}
.footericons .fab {
  color: #b2b2b2;
  margin: 10px;
}
.footerlistitem {
  margin-top: 5px;
}
.contact {
  margin-right: 2%;
}

/*footer*/
@media only screen and (min-width: 1400px) {
  .navbar .centermenu {
    margin-left: 38% !important;
  }
}
@media only screen and (min-width: 992px) {
  .ImageBoxDrop {
    display: block !important;
  }
}
@media only screen and (min-width: 1280px) {
  /*large*/
  .rightmenu {
    visibility: visible !important;
    margin-left: auto;
  }
  .bottomMenu1 {
    display: none;
  }
  .navbar {
    width: 100%;
  }

  .centermenu .nav-item {
    font-family: "Lato", sans-serif;
    font-size: 19px;
  }
  .centermenu .nav-link {
    display: inline-flex;
    height: 100px;
    top: 0;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-right: 10px;
  }
  .navbar .centermenu {
    width: 750px;
    top: 0;
    height: 100px;
    margin-left: 23%;
    justify-content: center;
    margin-top: 0 !important;
  }
  .rightmenu {
    top: 15px;
    right: 1%;
    width: 22%;
    position: absolute;
  }
  .iconsmenu .nav-item {
    margin-right: 0;
    margin-left: 0;
  }
  .iconsmenu .withoutIcon {
    /* it stays closer than which has badges */
    margin-left: 10px;
    margin-right: 4px;
  }
  .iconsmenu li .fal {
    font-size: 27px;
    font-weight: 300;
    padding-top: 5px;
  }
  .iconsmenu li .far {
    font-size: 27px;
    font-weight: 300;
    padding-top: 5px;
  }
  .brandICON {
    margin-left: 20%;
  }
  .brandICON img {
    width: 90px;
    height: 90px;
  }
  .OSFGLOBAL #osf {
    color: #011845;
    font-family: "Lato", sans-serif;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 40px;
    top: 15px;
    position: absolute;
  }
  .OSFGLOBAL #Academy {
    color: #85bc23;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
    top: 53px;
    position: absolute;
  }
  .OSFGLOBAL {
    margin-right: auto;
  }
  .OSFGLOBAL {
    display: block !important;
  }
  .badge {
    background-color: white !important;
  }
}

@media only screen and (min-width: 768px) {
  /*medium*/
  .menu-area:hover > .dropdown-menu {
    /* hover oldugunda display */
    display: block;
  }
  .ImageBoxDrop {
    display: none;
  }
  .rightmenu {
    visibility: hidden;
  }
  .navbar-nav {
    height: 100px;
  }
  .centermenu .nav-item {
    margin: auto;
    height: 100px;
    top: 0;
    font-family: "Lato", sans-serif;
    font-size: 19px;
  }
  .centermenu .nav-link {
    display: inline-flex;
    height: 100px;
    align-items: center;
    margin-right: 10%;
  }
  .centermenu {
    height: 100px !important;
  }
  /*login popup*/
  .modal-content {
    width: 600px;
    height: 550px;
    align-self: center;
    position: fixed;
    border-radius: 5px;
    padding: 20px;
  }

  /*login popup*/

  .iconsmenu li {
    display: inline-flex;
    padding: 10px;
    margin-right: 3px;
    margin-left: 3px;
  }

  .iconsmenu li a {
    list-style: none;
    color: #999999;
    font-size: 20px;
  }
  .centermenu li {
    font-family: "Lato", sans-serif;
    height: 70px;
    align-items: flex-end;
    font-size: 16pt;
    justify-content: center;
    padding: 0;
  }
  .centermenu .nav-link {
    width: 100%;
  }
  .centermenu .nav-item {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 10px;
  }

  .centermenu {
    height: 150px;
    width: 100%;
    margin-left: 2%;
    display: flex;
    justify-content: center;
  }

  .bottomMenu1 {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 80px;
    z-index: 1000;
    background-color: #262a33;
  }
  .bottomMenu1 .far {
    color: #c8d6e5;
    padding-top: 20px;
    margin-left: 40%;
    font-size: 25px;
  }
  .OSFGLOBAL {
    display: none;
  }
  #EN {
    margin-left: 20px;
  }
  #US {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 769px) {
  /*small*/
  .rightmenu {
    display: none;
  }
  .mega-area {
    display: none !important;
  }
  /*modal popup*/
  .modal-content {
    width: 100%;
    height: 500px;
    margin: auto;
  }
  #myCarousel .carousel-inner img {
    height: 600px;
  }
  .OSFGLOBAL {
    display: none;
  }
  .brandICON {
    top: 0;
    position: absolute !important; /*!!!!!!!!!!*/
    right: 50%;
    left: 50%;
  }
  .brandICON img {
    height: 80px;
  }

  .bottomMenu1 {
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 80px;
    z-index: 1000;
    background-color: #262a33;
  }
  .bottomMenu1 .far {
    color: #c8d6e5;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 25px;
  }
  #footerContainer {
    display: none; /*should be displayed as a dropdown*/
  }
  /* full width banner osf theme*/
}
.menu-area {
  position: static;
}
.mega-area {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #262a33;
  color: #c8d6e5;
}
.mega-area a {
  color: white;
}
.mega-area a:active {
  background-color: white;
  color: black;
}
.centermenu .mega-area {
  margin-top: -1px;
  padding-left: 20px;
}
.dropdown-item {
  padding: 6px 0;
}

.MAIN {
  top: 0;
  position: static; /* asagı akmıyor*/
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100px;
  align-items: center;
}

.centermenu li .ServicesSection:hover {
  background-color: #262a33;
  color: #c8d6e5 !important;
  border-bottom: 5px solid #85bc23;
}
/*login popup*/
#passwordShould {
  font-family: "Lato", sans-serif;
  color: red;
}
.signin {
  color: #2d343a;
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 40px;
  justify-content: center;
}
#openeye {
  display: none;
}
.login-btn {
  margin: 20px auto 20px;
  width: 50%;
  display: block;
  outline: none;
  border: 1px solid #85bc23;
  border-radius: 30px;
  cursor: pointer;
  background: #85bc23;
  color: white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  height: 50px;
}
.popupLinks a {
  text-decoration: none;
  font-family: sans-serif;
  font-family: "Lato", sans-serif;
  color: #85bc23;
}
.modal-body {
  padding-top: 40px;
}
.form-group label {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-left: 10px;
}
.form-control1 {
  border-radius: 40px;
  border: 3px solid gainsboro;
  height: 50px;
  width: 100%;
  outline: none;
}
.form-control2 {
  width: 90%;
  border: none;
  outline: none;
  margin-left: 5px;
}
.lato {
  height: 50px;
  border-radius: 40px;
  border: 3px solid gainsboro;
  width: 100%;
}
.eye {
  float: right;
  margin-right: 15px;
  margin-top: 1%;
  position: absolute;
}

/*login popup*/

/*footer for small devices*/
.small-footer .link {
  width: 100%;
  text-align: left;
}
.small-footer .dropdown-toggle {
  font-weight: bold;
  color: black;
}
.small-footer .dropdown-toggle:hover {
  text-decoration: none;
}
.small-footer {
  margin-bottom: 12%;
}
.small-footer .footerLine {
  text-align: center;
}
.small-footer .footerLine .footericons li {
  margin: 15px;
  font-size: 20px;
}
/*footer for small devices*/

@media only screen and (max-width: 769px) {
  .nav-item {
    background-color: #262a33;
    padding-left: 10px;
  }
  .nav-link {
    color: white !important;
  }
  .navbar-nav {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
  }

  .centermenu li .ServicesSection:hover {
    border-bottom: none;
  }
}

/* badgesss */
.badge {
  border: 3px solid #85bc23;
  width: min-content;
  height: 25px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 10pt;
  color: #85bc23;
}

.far {
  font-size: 28px;
  font-weight: 300;
  position: relative;
  color: #999999;
}

.badgeContainer .badge {
  bottom: 15px;
  left: 17px;
  position: absolute;
}

/*breadcrumbs*/
.breadcrumbsList {
  display: none;
}
#breadcrumbs li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #45413e;
}
#breadcrumbs {
  text-align: center;
  margin-top: 50px;
}
#breadcrumbs li a {
  color: #85bc23;
}
#breadcrumbs li:not(:first-child) {
  margin-left: 0.4em;
}
#breadcrumbs li:not(:first-child):before {
  content: "  /  ";
  margin-right: 0.4em;
}
/*breadcrumbs*/

/*small footer */
.small-footer .dropdown-toggle {
  float: right;
  margin-right: 15px;
  font-size: 12pt;
  font-weight: 800;
}
.small-footer h5 {
  font-size: 11pt;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-top: 15px;
  color: #2d343a;
  cursor: pointer;
}
.dropmenufooter li a {
  font-family: "Lato", sans-serif;
  color: #2d343a;
}
#dropmenufooterAbout {
  display: none;
}
#dropmenufooterContact {
  display: none;
}
#dropmenufooterCategoriest {
  display: none;
}
.Copyright {
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  margin-top: 15px;
  font-weight: 500;
}
.small-footer {
  padding-left: 15px;
}
/*small footer */

/*navbar-mobile*/
#dropmenuNavCategoriest {
  display: none;
}
#dropmenuNavSale {
  display: none;
}
#optionMobile {
  display: none;
}
.optionMobile {
  background-color: #262a33;
  color: white;
  cursor: pointer;
}
.optionMobile a {
  display: block;
  padding-left: 20px;
  font-size: 12pt;
}
.optionMobile li a {
  color: white;
  margin-left: 15px;
}

/*navbar-mobile*/
.listedmegamenuItems {
  margin-top: 33px;
}
.mega-area h5 {
  font-size: 12pt;
  font-weight: 700;
  color: azure;
}
.mega-area {
  padding: 50px;
}
#ProductCategoriest {
  min-width: max-content;
}
