/* Services */
.hrServices {
  margin-bottom: 0;
  margin-top: 0;
  height: 2px;
  background-color: #f0e3d8;
}
.servicesLanding {
  background-color: #f1edea;
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 50px;
}
.servicesLandingImgBox img {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.servicesLandingImgBox {
  width: 250px;
  height: 380px;
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
}
.servicesLandingImgBox p {
  margin-top: 5px;
}
.ProductName {
  color: #262a33;
  font-family: "Lato", sans-serif;
  padding: 10px;
  font-size: 11pt;
  font-weight: 500;
}
.servicesLandingImgBox .money {
  color: #999999;
  font-weight: 600;
  font-size: 11pt;
}
.servicesloadMore-btn {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  color: white;
  border: 1px solid #85bc23;
  background-color: #85bc23;
  margin-top: 100px;
  outline: none;
}

.cont1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cont1 .btn {
  width: 170px;
  border: 3px solid #818078;
  border-radius: 20px;
  color: #818078;
  height: 40px;
}
.rowfilter2 {
  margin-top: 30px;
}
.filters {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cont1 p {
  font-family: "Lato", sans-serif;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 10pt;
  font-weight: 600;
}

.color {
  margin-top: 20px;
}
.color ul li {
  display: inline-flex;
  width: 20px;
}
.color ul li a input {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.btn-1 {
  background-color: white;
  border: 2px solid gray !important;
}

.btn-2 {
  background-color: turquoise;
  border: none;
}
.btn-3 {
  background-color: black;
}
.btn-4 {
  background-color: green;
}
.btn-5 {
  background-color: darkslateblue;
}
.btn-6 {
  background-color: orange;
}
.btn-7 {
  background-color: red;
}
.btn-8 {
  background-color: #f1edea;
}
/* Services*/

/*featured products */
.featuredproduct img {
  width: 250px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.featuredproduct {
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.featuredproduct p {
  padding: 3px;
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}
.featuredproduct h {
  color: #85bc23;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.containerpop {
  text-align: center;
  color: white;
}
.containerpop h5 {
  font-weight: 700;
  font-size: 40px;
}
.featured {
  background-color: #262a33;
}
.carousel-control-prev {
  top: -270px;
  position: absolute;
}
.carousel-control-next {
  top: -270px;
  position: absolute;
}
/*featured products */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: none;
  border: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 50px;
  height: 1.5em;
  color: #45413e;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
}
@media only screen and (max-width: 1200px) {
  .featured {
    display: none;
  }
}
.sliderPop hr {
  color: white;
  font-size: 17pt;
}
@media only screen and (max-width: 769px) {
  .servicesLandingImgBox {
    margin: auto;
    margin-top: 15px;
  }
}

.containerpop {
  text-align: center;
  color: white;
}
.containerpop hr {
  color: white;
}
.containerpop h5 {
  font-weight: 700;
  font-size: 40px;
}
/* services hide filter */
.hidefilter {
  cursor: pointer;
  color: #85bc23;
  font-weight: 600;
}
/* services hide filter */
a {
  text-decoration: none !important;
}
