/* Services */
.hrServices {
  margin-bottom: 0;
  margin-top: 0;
  height: 4px;
  background-color: #efe8e2;
}
.servicesLanding {
  background-color: #f1edea;
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 50px;
}
.servicesLandingImgBox img {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.servicesLandingImgBox {
  width: 250px;
  height: 380px;
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  text-align: center;
}
.servicesLandingImgBox p {
  margin-top: 5px;
}
.ProductName {
  color: #262a33;
  font-family: "Lato", sans-serif;
  padding: 10px;
  font-size: 12pt;
  font-weight: 500;
}
.servicesLandingImgBox .money {
  color: lightgray;
  font-weight: 600;
  font-size: 11pt;
  width: fit-content;
  bottom: 35px;
  position: absolute;
  margin-left: 100px !important;
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.servicesloadMore-btn {
  border-radius: 40px;
  width: 200px;
  height: 50px;
  color: white;
  border: 3px solid #f0e3d8;
  background-color: #85bc23;
  margin-top: 80px;
  outline: none;
}
.cont1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.cont1 .btn {
  border: 3px solid #818078;
  border-radius: 20px;
  color: #818078;
  height: 40px;
  text-align: left;
}
.toggleIcon {
  float: right;
  margin-right: 5px;
}
.showdrop .dropdown-menu {
  text-align: center;
}
.showdrop .dropdown-item {
  cursor: pointer;
}
.showdrop .dropdown-item:hover {
  background-color: #f1edea;
  color: #85bc23;
  font-weight: 700;
  font-size: 13pt;
}
.rowfilter2 {
  margin-top: 30px;
}
.filters {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}
.cont1 p {
  font-family: "Lato", sans-serif;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 11pt;
  color: #262a33;
  font-weight: 600;
  padding-right: 30px;
}
.color {
  margin-top: 14px;
}
.color ul li {
  display: inline-flex;
}
.color ul li a input {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
#sortby {
  min-width: max-content;
}
.btn-1 {
  background-color: white;
  border: 2px solid gray !important;
}

.btn-2 {
  background-color: turquoise;
  border: none;
}
.btn-3 {
  background-color: black;
}
.btn-4 {
  background-color: green;
}
.btn-5 {
  background-color: darkslateblue;
}
.btn-6 {
  background-color: orange;
}
.btn-7 {
  background-color: red;
}
.btn-8 {
  background-color: #f1edea;
  border: 2px solid gray !important;
}
/* Services*/

/*featured products */
.featuredproduct img {
  width: 250px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.featuredproduct {
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.featuredproduct p {
  padding: 3px;
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}
.featuredproduct h {
  color: #85bc23;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.containerpop {
  text-align: center;
  color: white;
}
.containerpop h5 {
  font-weight: 700;
  font-size: 40px;
}
.featured {
  background-color: #262a33;
}
.hrContainer .serviceshr {
  height: 2px;
  background-color: white;
}
.hrContainer .hrColumns {
  margin: auto;
}
.hrContainer {
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0;
}
.FeaturedProductsHr .serviceshr {
  height: 2px;
  background-color: white;
}
.FeaturedProductsHr .hrIndex {
  font-size: 30px;
  font-weight: 600;
}
.FeaturedProductsHr .hrColumns {
  margin: auto;
}
.FeaturedProductsHr .col-1 {
  margin: auto;
}
.FeaturedProductsHr button {
  width: 30px;
  background-color: #2d343a;
  border: none;
  height: 30px;
}
.FeaturedProductsHr {
  margin-bottom: 20px;
  width: 700px;
}
.carousel-control-prev {
  left: 40%;
  top: 5%;
  position: absolute;
}
.carousel-control-next {
  right: 40%;
  top: 5%;
  position: absolute;
}
/*hr */
@media only screen and (max-width: 1200px) {
  .featured {
    display: none;
  }
}
.sliderPop hr {
  color: white;
  font-size: 17pt;
}
@media only screen and (min-width: 769px) {
  .hrContainer .menuServices {
    color: #45413e;
    font-size: 55px;
    font-weight: 1000;
  }
  .cont1 .btn {
    width: 200px;
  }
  .cont1 .dropdown-menu {
    width: 200px;
  }
  .colorbuttons li {
    margin-right: 1px;
    width: 20px;
  }
}
@media only screen and (max-width: 769px) {
  .servicesLandingImgBox {
    margin: auto;
    margin-top: 12px;
  }
  /* services hr*/
  .menuServices {
    font-size: 20px;
    text-align: center;
    color: #45413e;
    font-weight: 800;
  }
  .hrContainer .menuServices {
    margin: auto;
  }
  .cont1 .btn {
    width: 160px;
  }
  .cont1 .dropdown-menu {
    width: 160px;
  }
  .colorbuttons li {
    margin-right: 0;
    width: 15px;
  }
  /* services hr*/
  .servicesLandingImgBox {
    margin-top: 30px;
  }
}
.containerpop {
  text-align: center;
  color: white;
}
.containerpop hr {
  color: white;
}
.containerpop h5 {
  font-weight: 700;
  font-size: 40px;
}
/* services hide filter */
#HideFilterMessage {
  cursor: pointer;
  color: #85bc23;
  font-weight: 600;
}
/* services hide filter */
a {
  text-decoration: none !important;
}
/*breadcrumb (already has margin 50px from servicesLanding) */
#breadcrumbs {
  margin-top: 0;
}
/*breadcrumb*/
.colorbuttons {
  min-width: 170px;
}
#loadMoreRow {
  margin: auto;
  justify-content: center;
}
.rowServices {
  margin: auto;
  justify-content: center;
}
.ServicesPageItems {
  margin: auto;
  justify-content: center;
}
.servicesLandingImgBox {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
