a {
  text-decoration: none !important;
}
.hrIndex {
  margin-bottom: 0;
  height: 1px;
  background-color: #f3f0e6;
  margin-top: 0;
}
/* carousel*/
.carousel-indicators li {
  border-radius: 50%;
  width: 5px;
  padding: 3px;
  color: gray;
}
.slider {
  margin: 0 !important;
}
.slider img {
  border-radius: 15px;
  height: 560px;
  width: auto;
}
.carouselbutton {
  background: transparent;
  width: 150px;
  border-radius: 20px;
  color: white;
  height: 40px;
  border: 3px solid white;
  margin-top: 3%;
  outline: none;
}

.carousel-caption {
  font-family: "Lato", sans-serif;
}
.carousel-caption h5 {
  font-size: 35px;
  font-weight: bolder;
}
.carousel-caption {
  top: 15%;
  bottom: auto;
}

/* carousel*/

/* summer sales section*/
.summersales {
  text-align: center;
  width: 310px;
  align-items: center;
}
.imageContainer {
  position: relative;
}
#summerSaleImg {
  position: absolute;
  left: 10px;
  height: 365px;
  width: 300px;
  border-radius: 10px;
}
.ss55 {
  position: absolute;
  text-align: center;
  left: 45px;
  font-family: "Lato", sans-serif;
  color: white;
}
.saleImage {
  position: static;
  height: 366px;
}
.ss55 h5 {
  font-size: 100px;
  font-weight: 900;
  margin-top: 60px;
  margin-left: 10px;
}
#summersalep {
  font-size: 25px;
  margin-top: 35px;
  width: 50%;
  margin-left: 50px;
}
.followbutton {
  border: 3px solid #3b5b96;
  height: 50px;
  width: 180px;
  border-radius: 30px;
  margin-top: 30px !important;
  margin-left: 70px;
}
.followbutton:hover {
  border: 3px solid #3b5b96;
  background-color: #3b5b96;
}
.followbutton:hover .facebook-btn {
  color: white;
}
.followbutton:hover .fab {
  color: white;
}
.summersales h2 {
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  margin-left: 31px;
  justify-items: center;
  margin-top: 40px;
}
.summersales p {
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  text-align: center;
  margin-top: 15px;
  width: 80%;
  margin-left: 40px;
}
.followbutton .facebook-btn {
  border: 0;
  height: 40px;
  width: 75%;
  background-color: transparent;
  color: #3b5b96;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
}
.followbutton .fab {
  font-size: 25px;
  color: #3b5b96;
}

/* summer sales section*/

/* full width banner osf theme*/
.fullwidthImage img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
/* full width banner osf theme*/

/* <!--Benefits Content--->  */
.benefit {
  background-color: #45413e;
  text-align: center;
}
.benefits {
  text-align: left;
}
.benefit h5 {
  color: white;
}

.benefit p {
  color: #999999;
}
.benefits {
  margin-top: 60px;
}

/*  <!--Benefits Content--->  */

/* popular items */
.popularItemHr {
  height: 1px;
  background-color: #f0e3d8;
}
.popularItemHrTag {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 18pt;
}
.popitem {
  background-color: white;
  border-radius: 10px;
  height: 350px;
  width: 255px;
  text-align: center;
}
.popitem img {
  width: 255px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.popitem {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.popitem p {
  margin-top: 10px;
}

.popularitems {
  background-color: #262a33;
}
.loadmore {
  margin-top: 50px;
  width: 300px;
  background: transparent;
  border-radius: 20px;
  border: 2px solid white;
  margin: auto;
  margin-top: 50px;
}
.loadmore .fas {
  color: white;
}
.loadmore:hover {
  background-color: #85bc23;
  color: #262a33;
}
.loadmore:hover .fas {
  color: #262a33;
}
.loadmore:hover .loadmore-btn {
  color: #262a33;
}
.loadmore-btn {
  background: transparent;
  border: none;
  width: 80%;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  outline: none;
  height: 40px;
}
.popularItemsAwesome {
  color: #85bc23;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-top: 30px !important;
}

/* popular items */

/*featured products */
.featuredproduct img {
  width: 250px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*featured product hr*/
.IndexPageFeaturedProductsHr {
  margin: auto;
  align-items: center;
}
.hrIndexFeatured {
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  font-weight: 600;
}
.IndexPageFeaturedProductsHr .hrColumnsFeatured {
  height: 2px;
  background-color: white;
}
.hrcolumns {
  margin: auto;
}
.IndexPageFeaturedProductsHr button {
  width: 30px;
  background-color: #2d343a;
  height: 30px;
  border: none;
}
.IndexPageFeaturedProductsHr .col-1 {
  margin: auto;
}
.IndexPageFeaturedProductsHr {
  margin-bottom: 20px;
  width: 700px;
}
.carousel-control-prev {
  left: 40%;
  top: 5%;
  position: absolute;
}
.carousel-control-next {
  right: 40%;
  top: 5%;
  position: absolute;
}
/*featured product hr*/
.featuredproduct {
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.featuredproduct p {
  padding: 3px;
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}
.featuredproduct h {
  color: #85bc23;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.containerpop {
  text-align: center;
  color: white;
}
.containerpop h5 {
  font-weight: 700;
  font-size: 40px;
}
.featured {
  background-color: #262a33;
}
/*featured products */

@media only screen and (max-width: 1200px) {
  /*login popup*/
  /*popular items*/
  /*featured product*/
  .featured {
    display: none;
  }

  .popularitems {
    display: none;
  }
  .summersales {
    display: none;
  }
  .DescriptionProduct {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .servicesLandingImgBox {
    margin: auto;
    margin-top: 15px;
  }
  .popitemProduct {
    display: none;
  }
}

/* small screen popular item slide */
.sliderPop {
  padding-top: 25px;
  background-color: #262a33;
}
.ProductScreen {
  height: 700px !important;
  background-color: #f1edea !important;
}
.ProductScreen hr {
  color: #1c2735 !important;
}
.ProductScreen .scrolltop {
  width: 150px;
  border-radius: 20px;
  height: 40px;
  color: white;
  border: 1px solid #85bc23;
  background-color: #85bc23;
  margin-top: 15px;
  outline: none;
}
.scrollingButtonDiv {
  text-align: center;
}
.imageboxPopular {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.imageboxPopular p {
  margin-top: 20px;
  padding: 5px;
}
.imageboxPopular .money {
  font-weight: 600;
  color: #3b5b96;
  padding-bottom: 25px;
}
.imageboxPopular img {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sliderPop {
  height: 600px;
}
.smallPopItemHr {
  font-size: 17pt;
  color: white;
  text-align: center;
  font-weight: 700;
}
.smallPopItemhrcol {
  height: 1px;
  background-color: whitesmoke;
}
/* small screen popular item slide */

/* index page popular items load more */
#loadmorerow .popitem {
  margin-top: 25px;
}
/* index page popular items load more */

/*popular items hover overlay-static */
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}
.hoverOverlay:hover .middle {
  opacity: 1;
}
.middle button {
  width: 65px;
  height: 65px;
  border-radius: 60px;
  background-color: white;
  border: none;
}
.hoverOverlay:hover > img {
  opacity: 0.2;
}
.hoverOverlay:hover > p {
  opacity: 0.2;
}
.hoverOverlay:hover {
  background-color: #23c570;
}
.fa-plus {
  color: #23c570;
  font-size: 25px;
}
.hoverOverlay .fa-heart {
  font-size: 25px;
  color: red;
}
.staticOne img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.2;
}
.staticOne {
  background: linear-gradient(rgba(243, 70, 137, 0.9), rgba(81, 58, 155, 0.8));
}
.middleStatic {
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.textHour .fas {
  color: #85bc23;
  font-size: 20px;
  left: 30px;
  position: absolute;
}
.textHour {
  margin-top: 25px;
}
.dragonstext {
  margin-left: 25px;
}
.BuynowDiv {
  background-color: transparent;
  width: 170px;
  height: 40px;
  margin: auto;
  border-radius: 20px;
  border: 2px solid #f1edea;
  margin-top: 20px;
}
.BuynowDiv button {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
}
.priceButton {
  color: #23c570;
  font-weight: 600;
  border: none;
}
.price-buynowCol {
  display: inline-flex;
  height: 40px;
  align-items: center;
}
.buynowButton {
  font-weight: 700;
  border-left: 3px solid #f1edea;
  border-right: none;
  margin-left: 8px;
  padding-left: 5px;
  height: 38px;
}
.PopItemsPrice {
  font-size: 14px;
  color: #3b5b96;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.smallPopItemSlide {
  margin-top: 30px;
}
.PopItemName {
  font-family: "Lato", sans-serif;
  font-size: 11pt;
  font-weight: 500;
  color: #262a33;
  margin-left: 8px;
  margin-right: 8px;
}
/*popular items hover overlay-static */

/* Cookie container */

.cookieContiner {
  padding: 20px;
  background-color: white;
  font-family: "Lato", sans-serif;
  opacity: 1;
  display: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  bottom: 0;
  box-shadow: 20px 20px 20px 20px grey;
  border-radius: 5px;
  width: auto;
  z-index: 100;
  position: absolute;
}
.cookieContiner a {
  color: #85bc23;
}
.cookieContiner h5 {
  color: #85bc23;
  font-weight: 800;
  font-size: 13pt;
  margin-bottom: 20px;
  margin-top: 10px;
}
.cookieContiner p {
  width: 60%;
  font-weight: 400;
  font-size: 12pt;
}
.closeCookie {
  float: right;
  margin-right: 5px;
  color: black;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 19px;
}
.closeCookie .fal {
  font-size: 30px;
  font-weight: 200;
}
.acceptCookie {
  float: right;
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #85bc23;
  color: white;
  width: 150px;
  height: 35px;
}
/* Cookie container */
